@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Lobster&display=swap');
@responsive{
    .linear-bg{
        background: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
    }
    .linear-button{
        background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    }

    
}


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

    

